@import '../../../../styles/colors.scss';
@import '../../../../styles/typo.scss';

.main {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-content {
    overflow-y: overlay;
    width: 100%;
    height: inherit;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
}

// @media (max-height: 552px) and (max-width: 474px) {

// }

// @media (max-width: 474px) {



// }
